h1 {
  margin-top: 50px;
  font-size: 72px;
  background: -webkit-linear-gradient(#00131a, #007099);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Impact;
}
.pics  {
   display: inline-block;
 }

.inner-content {
  display: block;
  text-align: center;
  position: relative;
}

img {
  width: 500px;
  height: 300px;
}

#central {
  text-align: center;
}

#middletext {
  text-align: center;
  font-family: Impact;
  font-size: 50px;
}

#mainButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  position: relative;
  width: 150px;
  heigth: 80px;

  font-family: Impact;
  font-size: 30px;
  color: black;
  transition: all 0.3s ease;
}

.colorful:hover
{
  background: #0086b3;
}

body {
  background-image: url("pictures/background_img11.jpg");
  background-size: cover;

}
